.txt_box
{
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border-color: #e2a4c4;
    margin-left:2%; 
}
h4{
    font-size: 14px;
}
.modal_back
{
    background-color: #5e5e5e;
}
.cls_back
{
    background-color: white;
}
.btn
{
    outline: none;
    color: #29166f;
    border-radius: 5px;
    border-color: #d25b99;
}
.white_col
{
    color: white;
}
.pink_col
{
    color: #e2a4c4;
}
.dpink_col
{
    color: #d25b99;
}
.blue_col
{
    color: #29166f; 
}
.gray_col
{
    color: #4d4c4c; 
}
.lgray_col
{
    color: #5e5e5e;
}