ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}
#pswd_info {
    position:absolute;
    bottom:-155px;
    bottom: -115px\9; /* IE Specific */
    right:55px;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    z-index: 999;
    text-align: left;
}
#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
.invalid {
    padding-left:18px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    padding-left:18px;
    line-height:24px;
    color:#3a7d34;
}
#pswd_info {
    display:none;
}