/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Mar, 2018, 10:15:44 AM
    Author     : Maac
*/
.card_bord{
    border-color: #d25b99;
    border-style: solid;
    border-width: 1px;
    
}
.main_card{
    margin-right: 30%; 
}

