/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Mar, 2018, 12:53:24 PM
    Author     : Maac
*/
.pink_col
{
  color: #e2a4c4;
}
.dpink_col
{
  color: #d25b99;
}
.blue_col
{
  color: #29166f; 
}
.gray_col
{
  color: #4d4c4c; 
}
